<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:properties.properties" />

    <bean id="connection"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.database.Database"
          factory-method="connectWithDataBase">
        <constructor-arg name="jdbcUrl" value="${database.jdbcUrl}"/>
        <constructor-arg name="username" value="${database.username:postgres}"/>
        <constructor-arg name="password" value="${database.password:1}"/>
    </bean>

        <!-- Repositories and mappers-->
    <!-- Animal house-->
    <bean id="animalHouseMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animalhouse.AnimalHouseMapper">
    </bean>
    <bean id="animalHouseRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animalhouse.AnimalHouseRepositoryImpl">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="animalHouseMapper" ref="animalHouseMapper"/>
    </bean>
        <!-- Birds-->
    <!-- Finch -->
    <bean id="bullfinchMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.bird.finche.bullfinch.BullfinchMapper">
    </bean>
    <bean id="bullfinchRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.bird.finche.bullfinch.BullfinchRepository">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="bullfinchMapper" ref="bullfinchMapper"/>
    </bean>

        <!-- Crustacean -->
    <!-- Crab -->
    <bean id="crabMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.crustacean.highercancer.crab.CrabMapper">
    </bean>
    <bean id="crabRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.crustacean.highercancer.crab.CrabRepository">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="crabMapper" ref="crabMapper"/>
    </bean>
    <!-- Shrimp -->
    <bean id="shrimpMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.crustacean.highercancer.shrimp.ShrimpMapper">
    </bean>
    <bean id="shrimpRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.crustacean.highercancer.shrimp.ShrimpRepository">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="shrimpMapper" ref="shrimpMapper"/>
    </bean>
            <!-- Mammal -->
        <!-- Predator -->
    <!-- Wolf -->
    <bean id="wolfMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.mammal.predator.wolf.WolfMapper">
    </bean>
    <bean id="wolfRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.mammal.predator.wolf.WolfRepository">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="wolfMapper" ref="wolfMapper"/>
    </bean>
        <!-- Rodent -->
    <!-- Squirrel -->
    <bean id="squirrelMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.mammal.rodent.squirrel.SquirrelMapper  ">
    </bean>
    <bean id="squirrelRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.mammal.rodent.squirrel.SquirrelRepository">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="squirrelMapper" ref="squirrelMapper"/>
    </bean>
        <!-- General animal repository -->
    <bean id="animalGeneralMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.AnimalGeneralMapper">
    </bean>
    <bean id="animalGeneralRepository"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.repository.animal.AnimalGeneralRepositoryImpl">
        <constructor-arg name="connection" ref="connection"/>
        <constructor-arg name="animalGeneralMapper" ref="animalGeneralMapper"/>
    </bean>

        <!-- Services -->
    <!-- Animal general service -->
    <bean id="animalServiceMapper"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.service.animal.AnimalServiceMapper">
        <constructor-arg name="animalRepositoryList">
            <list>
                <ref bean="bullfinchRepository"/>
                <ref bean="crabRepository"/>
                <ref bean="shrimpRepository"/>
                <ref bean="wolfRepository"/>
                <ref bean="squirrelRepository"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="animalService"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.service.animal.AnimalService">
        <constructor-arg name="animalGeneralRepository" ref="animalGeneralRepository"/>
        <constructor-arg name="animalHouseRepository" ref="animalHouseRepository"/>
        <constructor-arg name="animalServiceMapper" ref="animalServiceMapper"/>
    </bean>
    <!-- Bullfinch service -->
    <bean id="bullfinchService"
          scope="singleton"
          class="com.epam.rd.tasks.zoo.service.animal.bird.finche.BullfinchService">
        <constructor-arg name="animalHouseRepository" ref="animalHouseRepository"/>
        <constructor-arg name="bullfinchRepository" ref="bullfinchRepository"/>
    </bean>

</beans>


